.project
.settings
.classpath
*.class
*.ear
*.war

ejb/target/**
webclient/target/**
domain/target/**
ear/target/**

ejb/.classpath
webclient/.classpath
domain/.classpath
ear/.classpath

ejb/.project
webclient/.project
domain/.project
ear/.project
