.project
.settings
.classpath
*.class
*.ear
*.war
*.orig
*.log

ejb/bin/**
webclient/bin/**
domain/bin/**
ear/bin/**

ejb/target/**
webclient/target/**
domain/target/**
ear/target/**

ejb/.settings/**
webclient/.settings/**
domain/.settings/**
ear/.settings/**

ejb/.classpath
webclient/.classpath
domain/.classpath
ear/.classpath

ejb/.project
webclient/.project
domain/.project
ear/.project
/build
/bin
