*{
	padding: 0px;
	margin: 0px;
	font-size: 12px;
}
.top-bar{
	width: 100%;
	height: 15px;
	background-color: #464646;
}
.header-bar{
	width: 100%;
	height: 60px;
	background-color: #ECECEC;
	padding-top: 10px;
}

	.logo{
		width: 108px;
		height: 49px;
		background-image: url(../img/logo.png);
		float: left;
		margin-left: 10px;
	}
	.user-info{		
		float: right;	
		margin-right: 10px;	
	}
		.username-text{
			float: left;
			margin-left: 3px;
		}
		.user-notifications{
			float: left;
			width: 25px;
			height: 25px;
			background-color:#FF0814;
			margin-left: 3px;
		}
		.user-menu{
			float: left;
			width: 25px;
			height: 25px;
			background-color:#00A2EC;
			margin-left: 3px;
		}
		
		
.menu-bar{
	width: 100%;
	height: 24px;
	background-image: url(../img/fondo-menu.jpeg);
	background-repeat: repeat-x;	
}
	.gha-main-menu div div table tbody tr td {
		background: none;
		color:#939496;
		background-color: white;
		border:none;
		font-size: 14px;
		font-weight:bold;
		padding-left: 20px;
	}
	.gha-main-menu div {
		height:24px;
	}
	.gha-main-menu {
		width:150px;
	}
	.gha-main-menu .buttonTitle {
		width:45px;
	}
	
	.tab-header{
		margin-left:5px;
		text-transform: uppercase;
		font-weight: bold;
		cursor:pointer
	}
	
	.tab-header-title{
		text-align: center;
		vertical-align: middle;
		padding-top: 5px;
	}
	
	.tab-header-close-button{
		text-align: center;
		vertical-align: middle;
		padding-top: 5px;
	}
.content {
	width: 100%;
	height: 100%;
	padding-bottom: 20px;
}
.footer-bar{
	position:fixed;
	bottom:0%;
	width: 100%;
	height: 20px;
	background-color: #464646;
}



.login-panel{
	width: 300px;
	height: 300px;
	text-align: center;
	margin:30px auto 0 auto;
}

.login-panel input{
	margin:5px auto 5px auto;
}

.login-panel form {
	width: 250px;
}

.login-logo{
	float:none;
	margin:0 auto 0 auto;
}

.login-titulo{
	font-size:medium;
	text-align: center;
	width: 100%;
	margin:15px auto 15px auto;
}

input,.input{
	padding: 2px;
	border:1px solid;
	border-color:#BABABA;
	padding-left: 5px;	
	margin-right: 10px;	
}

span.input-title label,span.input-title{
	color:#828282;
	font-size:10px;	
}

span.input-titleFocused label,span.input-titleFocused{
	color:#828282;
	font-size:10px;	
	font-weight: bold;
	border-color:yellow;
}

input[type=text].round,input[type=password].round{
/*	padding: 2px;
	border:1px solid;*/
	height: 25px;
	/*border-color:#BABABA;*/
	border-radius:5px;
	padding-left: 5px; 
}

.GHAButton{
	border:none;
	border-radius:5px;
	color:white;
	height: 25px;
	background-color: #00A0F6;
}

.centered{	
	margin-left: auto;   
	margin-right: auto;
}

/*GRID*/

.gha-grid{
	background-color: yelow;
	color:green;
}
.gha-grid-header-base2{
	background-color: yelow;
	color:green;
}
.gha-grid-header-base{
	background-color: yelow;
	color:green;
}
.gha-grid-header-title{
	background-color: yelow;
	color:green;
}

/*UTIL*/
.sides-padding{
	padding-left: 20px;
	padding-right: 20xpx;
}
.top-margin{
	margin-top: 10px;
}
.vertical-gray-separator{
	width:100%;
	height:20px;
	background-color: #666666;
}

/*OVERRIDES*/

.headerButton{
	background: none !important;
}












/* TO ERASE */
.full{
	width: 100%;
}
.half{
	width: 45%;
}
.smallfont{
	text-align: center;
	font-size: x-small;
}
.nofloat{
	float:none;
}

.main-tab-set div div.tabBarTop {
    visibility: hidden;
}

.main-tab-set {
    margin-top: -24px;
}