* {
	padding: 0px;
	margin: 0px;
	font-size: small;
	font-family: Helvetica !important;
}

b {
	font-weight: normal !important;
}

body {
	background-color: #F2F2F2;
	min-width: 1024px;
	min-height: 768px;
/* 	overflow: hidden; */
}

#main-content {
	width: 100%;
 	height: 100%; 
	background-color: #F2F2F2;
	min-height: 678px;
	min-width: 1024px;
}

/*.top-bar{
	width: 100%;
	height: 15px;
	background-color: #FFFFFF;
}*/
.header-bar {
	width: 100%;
	height: 60px;
	background-color: #F2F2F2;
	min-width: 1024px;
}

/*.logo{
		width: 108px;
		height: 49px;
		background-image: url(../img/logo.png);
		float: left;
		margin-left: 10px;
	}*/
.logo {
	width: 111px;
	height: 60px;
	background-image: url(../img/logo.png);
	float: left;
}

/*.footer-logo{
		width: 37px;
		height: 16px;
		background-image: url(../icons/footLogo.jpg);
		float: right;
		margin-left: 10px;
	}*/
.user-info {
	float: right;
	margin: 2px 20px 0 0;
}

.username-text {
	/*float: left;
			margin: 3px 0 0 10px;*/
	font-size: 12px;
	text-align: right;
	font-weight: bold;
}

.user-notifications-button {
	/*float: left;
			width: 28px;
			height: 25px;
			*/
	background-image: url(../icons/boton1.png);
	color: white;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	/*margin-left:10px;*/
}

.user-menu {
	/*
		    background-color: #E0E0E0;
		    position: absolute;
		    right: 20px;
		    top: 70px;
		    width: 280px;*/
	
}

.menu-bar {
	width: 100%;
	height: 30px;
	/*background-image: url(../img/fondo-menu.jpeg);*/
	background-color: #E0E0DF;
	/*background-repeat: repeat-x;	*/
	min-width: 1024px;
}

.white-background {
	background-color: #F2F2F2;
}

/*.footer-bar{
	position:fixed;
	bottom:0%;
	width: 100%;
	height: 20px;
	background-color: #464646;
}*/

#gha-main-menu.menuButton,#gha-main-menu.menuButtonOver,#gha-main-menu.menuButtonDown
	{
	background: none;
	background-color: white;
	border: none;
	padding-left: 20px;
}

#gha-main-menu.menuButton table tbody tr td.buttonTitle,#gha-main-menu.menuButtonOver table tbody tr td.buttonTitle,#gha-main-menu.menuButtonDown table tbody tr td.buttonTitle
	{
	font-size: 12px;
	font-weight: bold;
	color: #939496;
	width: 45px;
}

/*.tab-header{
		background-color: #CECECE;
	    border-left: 1px solid #CECECE;
	    border-right: 1px solid #CECECE;
	    border-top: 1px solid #CECECE;
	    font-weight: bold;
	    font-size: 12px;
	    margin-left: 3px;
	    text-transform: uppercase;
	}
	
	.tab-header-selected{
		background-color: #EAEAEA;
    	font-weight: bolder;
	}
	
	.tab-header-over{
		background-color: #EAEAEA;
		cursor: pointer;
	}*/
.place-header-title {
	/*padding-left: 6px;*/
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	/*line-height: 30px;*/
	text-align: center;
}
.panel-header-title {
	padding-left: 6px;
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	text-transform: capitalize;
	line-height: 30px;
	text-align: left;
}

.tabset-header-title {
	padding-left: 6px;
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	text-transform: capitalize;
	line-height: 30px;
	text-align: left;
}
/* html body section#main-content.main-content div#isc_EMHPlace_0_wrapper div#isc_7.normal div#isc_8 div#isc_9.normal div#isc_A div#isc_B.gha-tab-set div#isc_C div#isc_F div#isc_G table tbody tr td.base-style */

/* div.gha-tab-set div#isc_C div#isc_D{ */
/* 	margin-top:5px; */
/* } */

.tab-header-title {
	padding-left: 6px;
	color: #666666;
	font-size: 12px;
	font-weight: bold;
/* 	text-transform: capitalize; */
/* 	line-height: 25px; */
	text-align: left;
/* 	margin-top: 5px; */
}

.tab-header-title-selected {
	border-top: 1px solid blue;
	border-right: 1px solid blue;
}


/*.tab-header-close-button {
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;
}*/

.login-panel {
	width: 300px;
	height: 300px;
	text-align: center;
	margin: 0px auto 0 auto;
	padding-top: 50px;
}

.login-panel input {
	margin: 5px auto 5px auto;
}

.login-panel form {
	width: 250px;
}

.login-logo {
	float: none;
	margin: 0 auto 0 auto;
}

.login-titulo {
	font-size: 20px;
	text-align: center;
	width: 100%;
	margin: 15px auto 15px auto;
}

/* Form  Items */
.gha-form-cell,.gha-form-cellDisabled,.gha-form-cellFocused,.gha-form-cellError
	{
	padding: 0px 10px 5px 0px;
}

.required,.requiredError,.requiredFocused {
	border: 1px solid #E86842 !important;
}

.requiredValidated,.requiredValidatedFocused {
	border: 1px solid #43FE42 !important;
}

input,.input {
	padding: 2px 2px 2px 5px;
	border: 1px solid #BABABA;
	border-radius: 3px 3px 3px 3px;
}

input,.dateItem {
	padding: 2px 2px 2px 5px;
	border: 1px solid #BABABA;
	border-radius: 3px 3px 3px 3px;
	text-align: left;
}

select,.select,.combobox {
	background-color: #FFFFFF;
	padding: 2px 2px 2px 5px;
	border: 1px solid #BABABA;
	border-radius: 3px 0px 0px 3px;
}

input[type="text"]:disabled,.inputDisabled {
	background-color: #F6F6F6;
	padding: 2px 2px 2px 5px;
	border: 1px solid #BABABA;
	border-radius: 3px 3px 3px 3px;
}

.selectDisabled,.comboboxDisabled,.dateItemDisabled,.requiredDisabled ,
.requiredValidatedDisabled{
	background-color: #F6F6F6;
	padding: 2px 2px 2px 5px;
	margin-right: 1px;
	border: 1px solid #BABABA;
	border-radius: 3px 0px 0px 3px;
	color: #ababab;
}

/*
.titletext{
	color:white;	
	font-weight: bold;
	font-size: 12px;
}
*/
.text-label {
	color: black;
	font-size: 12px;
}
.text-label-mini{
	color:black;
	font-size: 9px;
}

.gha-label {
	font-weight: bold;
	color: black;
	font-size: 14px;
}

.gha-title-label {
	font-weight: bold;
	color: #008EFE;
	font-size: 10px;
}

.gha-text-label {
	color: black;
	font-size: 10px;
}

.iconTopPadding {
	padding-top: 6px;
}

.separator-title-label {
	font-weight: bold;
	color: white;
	font-size: 14px;
}

span.input-title label,span.input-title {
	color: black;
	font-weight: normal;
}

span.input-titleFocused label,span.input-titleFocused {
	color: #828282;
	font-weight: bold;
	/* 	font-weight: bold; */
}

input[type=text].round,input[type=password].round {
	/*	padding: 2px;
	border:1px solid;*/
	height: 25px;
	/*border-color:#BABABA;*/
	border-radius: 5px;
	padding-left: 5px;
}

/*//////////////////// */
/* Internal Tabset */
.tabButtonTop {
	color: #000000 !important;
	padding: 3px 7px !important;
	font-size: small !important;
}

.tabButtonTopDown, .tabButtonTopOver {
	color: #00A0F6 !important;
	padding: 3px 7px !important;
	font-size: small !important;
}

.tabButtonTopSelected, .tabButtonTopSelectedOver, .tabButtonTopSelectedDown  {
	background-color: #F4F4F4 !important;
	background-image: none;
	color: #00A0F6 !important;
	padding: 3px 7px !important;
	font-size: small !important;
}

.tabBarTop {
	background-color: #cbcbcb;
}

/*//////////////////// */
.GHAButton {
	border: none;
	border-radius: 5px;
	color: white;
	height: 25px;
	background-color: #00A0F6;
}

/* .GHAupload-button{ */
/*    background: url(../icons/search.png); */
/*    background-repeat: no-repeat; */
/* }	 */
table.GHAupload-button tbody tr td form div.upld-form-elements div.DecoratedFileUpload button.gwt-Button
	{
	background: none;
	border: none;
	font-weight: bold;
	padding-left: 0px;
	/* 	font-size: 0px; */
}

table.GHAupload-button tbody tr td form div.upld-form-elements div.DecoratedFileUpload button.gwt-Button-over
	{
	color: #37A0F7;
	cursor: pointer;
	/* 	font-size: 0px; */
}

/* .GHAupload-button-over { */
/*    background: url(../icons/search_Over.png); */
/*    background-repeat: no-repeat; */
/*  } */
.centered {
	margin-left: auto;
	margin-right: auto;
}

.notificationsBackDiv {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -80000;
}

.slideInWindowsBackDiv {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -60000;
}

.dim {
	position: absolute;
	background-color: black;
	opacity: 0.3;
}

/*UTIL*/
.box {
	padding-left: 20px;
	box-shadow: 10px 0px 10px -3px #5b5b5b;
	-moz-box-shadow: 10px 0px 10px -3px #5b5b5b;
	-webkit-box-shadow: 10px 0px 10px -3px #5b5b5b;
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#5b5b5b')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135,
		Color='#5b5b5b');
}

.left-menu-padding {
	padding-left: 10px;
}

.menu-option-title {
	vertical-align: middle;
}

.sides-padding {
	padding-left: 20px;
	padding-right: 20px;
}

.sides-padding-second {
	padding-left: 40px;
	padding-right: 20px;
}

.padding-top {
	padding-top: 10px;
}

.padding-bot {
	padding-bottom: 10px;
}

.padding-top-recovery {
	padding-top: 100px;
}

.boxed {
	borde: 1px solid black;
}

.margin-paginator {
	margin-top: 10px;
	margin-right: 55px;
}

.top-margin {
	margin-top: 10px;
}

.margin-right {
	margin-right: 10px;
}

.top-8 {
	top: 8px;
}

.hidden {
	/* 	visibility: hidden; */
	/* 	z-index: -1; */
	display: none;
}

.side-option {
	height: 10px;
	text-align: left;
	cursor: pointer;
	margin-right: 5px;
}

.side-option-over {
	font-weight: bolder;
	background-color: #CECECE;
}

.side-option-selected {
	font-weight: bolder;
	background-image: url(../icons/arrow.png);
	background-position: right center;
	background-repeat: no-repeat;
}

div#header-bar.header-bar div#user-info.user-info div#isc_HLayout_0_wrapper div#isc_0.user-info div#isc_1 div#isc_5.button-pointer div#isc_4 img
	{
	cursor: pointer;
}

.button-pointer {
	cursor: pointer;
}
.tooltip{
	width:0px;
}

.detail-gha,.detailLabel-gha {
	background-color: white;
	border-bottom: 1px solid rgb(171, 171, 171);
	border-right: 1px solid rgb(171, 171, 171);
	color: black;
	text-align: left;
	padding-left: 5px;
}

.detailLabel-gha {
	width:40%;
	background-color: rgb(250, 250, 250);
	color: rgb(77, 77, 77);
	font-weight: bold;
}



/*OVERRIDES*/
.headerButton {
	/*background: none !important;*/
	
}

/*Notifications testing*/

.windowBackground, 
.dialogBackground,
.dialogStyle{
	border-radius: 5px 5px 5px 5px !important;
	box-shadow: none !important;
}

.windowBody, 
.dialogBody, 
.dialogBodyStyle{
/* 	left: 0px !important; */
/* 	width: 100% !important; */
	border: none !important;
    box-shadow: none !important;
}

.windowHeaderText, .dialogHeaderText{ 
	color: #FFFFFF !important;
	text-transform: uppercase;
}
