<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <context-param>
    <param-name>maxSize</param-name>
    <param-value>3145728</param-value>
  </context-param>
  <context-param>
    <param-name>slowUploads</param-name>
    <param-value>200</param-value>
  </context-param>
  <servlet>
    <servlet-name>UploadPhotographs</servlet-name>
    <servlet-class>org.fourgeeks.gha.webclient.server.UploadPhotographsHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPhotographs</servlet-name>
    <url-pattern>*.gupld</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CaptureImageHttpServlet</servlet-name>
    <servlet-class>org.fourgeeks.gha.webclient.server.CaptureImageHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptureImageHttpServlet</servlet-name>
    <url-pattern>/webclient/picture/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GWTEiaTypeService</servlet-name>
    <servlet-class>org.fourgeeks.gha.webclient.server.eiatype.GWTEiaTypeServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GWTEiaTypeService</servlet-name>
    <url-pattern>/webclient/eiaType</url-pattern>
  </servlet-mapping>
  <servlet>
		<servlet-name>GWTEiaDamageReportService</servlet-name>
		<servlet-class>org.fourgeeks.gha.webclient.server.eiadamagereport.GWTEiaDamageReportServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GWTEiaDamageReportService</servlet-name>
		<url-pattern>/webclient/eiaDamageReport</url-pattern>
	</servlet-mapping>
	<servlet>
    <servlet-name>GWTEiaService</servlet-name>
    <servlet-class>org.fourgeeks.gha.webclient.server.eia.GWTEiaServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GWTEiaService</servlet-name>
    <url-pattern>/webclient/eia</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GWTObuService</servlet-name>
    <servlet-class>org.fourgeeks.gha.webclient.server.obu.GWTObuServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GWTObuService</servlet-name>
    <url-pattern>/webclient/obu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GWTExternalProvider</servlet-name>
    <servlet-class>org.fourgeeks.gha.webclient.server.externalprovider.GWTExternalProviderServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GWTExternalProvider</servlet-name>
    <url-pattern>/webclient/externalProvider</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GWTBuildingLocationService</servlet-name>
    <servlet-class>org.fourgeeks.gha.webclient.server.buildinglocation.GWTBuildingLocationServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GWTBuildingLocationService</servlet-name>
    <url-pattern>/webclient/buildingLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GWTManufacturerService</servlet-name>
    <servlet-class>org.fourgeeks.gha.webclient.server.manufacturer.GWTManufacturerServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GWTManufacturerService</servlet-name>
    <url-pattern>/webclient/manufacturer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GWTEiaTypeComponentService</servlet-name>
    <servlet-class>org.fourgeeks.gha.webclient.server.eiatype.component.GWTEiaTypeComponentServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GWTEiaTypeComponentService</servlet-name>
    <url-pattern>/webclient/eiaTypeComponent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GWTEiaComponentService</servlet-name>
    <servlet-class>org.fourgeeks.gha.webclient.server.eia.component.GWTEiaComponentServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GWTEiaComponentService</servlet-name>
    <url-pattern>/webclient/eiaComponent</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>gha.html</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>All resources</web-resource-name>
      <description>Protects all resources</description>
      <url-pattern>/NeverGonnaBeCall/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>gha-auth-security-domain</realm-name>
  </login-config>
  <env-entry>
    <description>Ruta de imagenes</description>
    <env-entry-name>EIATYPE_IMAGES</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>/home/</env-entry-value>
  </env-entry>
